[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, // Angular
[is\:cloak], [is-cloak], [data-is-cloak], [x-is-cloak], .is-cloak, .x-is-cloak  // Generic 
	display none !important

[disabled], [data-state="disabled"], .is-disabled
	pointer-events none !important
	cursor not-allowed !important

.is-visible
	visibility visible !important

.is-hidden
	visibility hidden !important

.is-block
	display block !important

.is-none
	display none !important

.is-unselectable
	user-select none
