html, body{
	width: 100%;
	height: 100%;
}
html{
	overflow: hidden;
}
body{
	overflow: auto;
}

/* assert */
.pass:before { 
	content: 'PASS: ';
	color:  blue;
	font-weight: bold;
}
.fail:before {
	content: 'FAIL: ';
	color: red; 
	font-weight: bold;
}